@use '../../assets/variables';

.menu {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
}

.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: variables.$rhythm * 2;
  top: variables.$rhythm;

  rect {
    fill: var(--app-accent-color)
  }

  &:hover {
    cursor: pointer;
    rect {
      fill: var(--app-favicon-hover-color)
    }
  }
}

.menu-mobile-button {
  background: none;
  border: none;
  border-radius: 50%;
  background-color: var(--app-accent-color);
  width: 48px;
  height: 48px;
}

.menu-mobile-wrapper {
  position: absolute;
  opacity: 0.95;
  transform: translate(50%,-50%);
  right: 0;
  top: 0;
  background-color: var(--menu-mobile-bg-color);
  border-radius: 50%;
  height: 0;
  width: 0;

  &.open {
    width: 900px;
    height: 900px;
  }

  

  .menu-mobile-stack {
    position: absolute;
    bottom: 21%;
    right: 50%;

    .menu-mobile-button {
      align-self: flex-end;
      margin-right: 16px;
      background-color: white;
    }
  }
}