@use '../../assets/variables';

.menu {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
  z-index: 1;

  // blur all siblings
  &.open ~ * {
    filter: blur(8px);
  }
}

.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: variables.$rhythm * 2;
  top: variables.$rhythm;

  rect {
    fill: var(--app-accent-color)
  }

  &:hover {
    cursor: pointer;
    rect {
      fill: var(--app-favicon-hover-color)
    }
  }
}

.menu-mobile-button {
  background: none;
  border: none;
  border-radius: 50%;
  background-color: var(--app-accent-color);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.42);
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0;
  position: absolute;
  z-index: 2;

  &.open {
    visibility: hidden;
  }

}

.menu-mobile-button-close {
  cursor: pointer;
  visibility: hidden;
  &.open {
    border: none;
    background: none;
    width: 48px;
    height: 48px;
    position: absolute;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: variables.$rhythm * 4;
    visibility: visible;

    svg {
      color: var(--app-accent-color);
      width: 48px;
      height: auto;
    }
  }
}

.menu-mobile-wrapper {
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
  top: 0;
  height: 0;
  width: 0;

  &::after {
    content: '';
    opacity: 0.95;
    background-color: var(--menu-mobile-bg-color);
    border-radius: 50%;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  // override a:hover links
  a {
    color: var(--menu-mobile-link-text-color);
    &:hover {
      border-bottom-color: var(--menu-mobile-accent-color);
    }
  }
 
  &.open {
    width: 900px;
    height: 900px;
  }

  .menu-mobile-stack {
    position: absolute;
    bottom: 21%;
    right: 50%;
  }
}
