@use '../../assets/variables';

.menu {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
  z-index: 1;
  
  // blur all siblings
  &.open ~ .app-container {
    filter: blur(6px);
    transition-duration: 2s;
  }

  // override a:hover links
  a.menu-nav-link {
    display: block;
    position: relative;
    overflow: hidden;
    border: none;
    padding-bottom: 2px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: variables.$rhythm / 2;
      background-color: var(--app-accent-color);
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
      transform: translate3d(-100%, 0, 0);
    }
    &:hover::after,
    &:active::after {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}

.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: variables.$rhythm * 2;
  top: variables.$rhythm;

  rect {
    fill: var(--app-accent-color)
  }

  &:hover {
    cursor: pointer;
    rect {
      fill: var(--app-favicon-hover-color)
    }
  }
}
