@use '../../assets/variables';

.social-pole {
  align-items: center;
  display: none;
  flex-direction: column;
  padding: 0 variables.$rhythm * 2;

  a.social-pole-link {
    border-bottom: none;
  }

  &-github-icon {
    width: 20px;
    color: var(--app-text-color);
    height: auto;
    
    &:hover {
      color: var(--app-accent-color);
    }

  }

  .social-pole-link {
    .social-pole-linkin-icon {
      width: 20px;
      color: var(--app-text-color);
      height: auto;
      
      &:hover {
        color: var(--app-accent-color);
      }
    }
  }

  .social-pole-mail-button {
    .social-pole-email-icon {
      width: 20px;
      color: var(--app-text-color);
      height: auto;
  
      &:hover {
        color: var(--app-accent-color);
      }
    }
  }


  &-mail-button {
    background: none;
    color: var(--app-text-color);
    border: none;
    cursor: pointer;

  }

  &-bar {
    height: 100px;
    border-color: var(--app-text-color);
    width: 0;
  }
}


@media (min-width: variables.$large) {  
  .social-pole {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}