@use '../../assets/variables';

.social-pole {
  align-items: center;
  display: none;
  flex-direction: column;
  padding: 0 variables.$rhythm;

  &-github-icon {
    width: 20px;
    color: var(--app-text-color);
    height: auto;
  }

  &-email-icon {
    width: 20px;
  }

  &-mail-button {
    background: none;
    color: var(--app-text-color);
    border: none;
    cursor: pointer;

  }

  &-bar {
    height: 100px;
  }
}


@media (min-width: variables.$large) {  
  .social-pole {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}