@use '../../assets/variables';

.social-pole {
  display: none;

  &-github-icon {
    width: 25px;
    height: auto;
  }

  &-bar {
    border-left: 1px solid black;
  }
}


@media (min-width: variables.$large) {  
  .social-pole {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}