@use '../../../assets/variables';

.landing-intro {
  min-height: 400px;
  max-width: 100%;
  min-width: 100%;
  padding: variables.$rhythm * 4 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--app-bg-color-secondary);


  &-header {
    color: var(--app-text-color-accent-secondary);

    &.featured {
      color: var(--app-text-color-accent-secondary);
      margin-top: 32px;
    }
  }

  &-picture {
    width: 300px;
    height: 300px;
    clip-path: circle(150px at center);
    border: 1px solid red;
  }
}



@media (min-width: variables.$large) {  
  .landing-intro-stack {
   flex-direction: row;
  }
}
