@use '../../../assets/variables';

.landing-featured {
  min-height: 400px;
  padding: variables.$rhythm * 4 0;
  flex-direction: column;
  justify-content:center;  


}

.landing-featured-containter {
  box-sizing: initial;
}

@media (min-width: variables.$large) {  
  .landing-featured {
   .landing-featured-containter {
    flex-direction: row;
   }
  }
}
