@use '../../../assets/variables';

.landing-featured {
  min-height: 400px;
  padding: variables.$rhythm * 4 0;
  flex-direction: column;
  justify-content:center;  

  .landing-intro-feature-card {
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin-top: 32px;
    padding: variables.$rhythm * 2;
    position: relative;

    box-shadow:  -2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    -6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    -12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
  
    a  {
      color: var(--app-text-color-accent);
      border-bottom: none;

      &:hover {
        &:after {
          opacity: 1;
          box-shadow:  -2.8px 2.8px 2.2px rgba(105, 106, 218, 0.02),
          -6.7px 6.7px 5.3px rgba(105, 106, 218, 0.028),
          -12.5px 12.5px 10px rgba(105, 106, 218, 0.035),
          -22.3px 22.3px 17.9px rgba(105, 106, 218, 0.042),
          -41.8px 41.8px 33.4px rgba(105, 106, 218, 0.05),
          -100px 100px 80px rgba(105, 106, 218,  0.07);
        }
      }

      &:after {
        content: '';
        position: absolute;
        border-radius: 8px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        box-shadow:  -2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        -6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        -12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
        transition: opacity 0.3s ease-in-out;
      }
    }
  
    .image {
      height: auto;
      max-width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  
}



@media (min-width: variables.$large) {  
  .landing-featured {
   .landing-featured-containter {
    flex-direction: row;
  }
  }

  .landing-intro-feature-card {
    margin-left: 32px;
  }
}
