.resume {
  min-width: 100%;
  height: 100%;
  padding: 16px 16px;

  &-stack {
    min-width: 100%;
   &:nth-child(n + 2) {
    border-top: 1px solid var(--app-black-white);
    margin-top: 16px;
   }
  }

  &-highlighted-item {
    font-weight: 600;
    color: var(--app-text-color-accent);
  }

  &-section-header {
    padding: 16px 0;
  }

  &-work-header, &-education-header {
    margin-top: 8px
  }
}