@use '../../../assets/variables';

.landing-hero {
  min-height: calc(100vh - 74px);
  flex-direction: column;
  align-items: center;
  padding: 0 variables.$rhythm * 6;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  overflow: hidden;

  &-stack {
    z-index: 1;
  }
}

.landing-hero-title {
  color: var(--app-text-color-accent);
}

.landing-hero-intro {
  color: var(--app-text-color-secondary);
}