.landing-hero {
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.landing-hero-title {
  color: var(--app-text-color-accent);
}

.landing-hero-intro {
  color: var(--app-text-color-secondary);
}