@use '../../assets/variables';

.projects {
  min-height: calc(100vh - 174px);
  margin-top: variables.$rhythm * 10;

  .posts-header {
    margin-bottom: variables.$rhythm * 2;
  }

  &-cards {
    display: flex;
    flex-direction: row;

    &-wrapper {
      gap: 16px;
    }
  }

}