@use '../../../assets/variables';


.menu {
  .menu-mobile-stack {
    position: absolute;
    left: 16px;
    top: 64px;
    z-index: 2;

    button {
      margin: 0 4px;
    }
    
    .menu-mobile-theme-button {
      color: var(--menu-mobile-accent-color);
    }

    .text-button {
      color: var(--menu-mobile-accent-color);
    }

    // override a:hover links
    a {
      margin: 0;
      color: var(--menu-mobile-link-text-color);
      display: block;
      position: relative;
      overflow: hidden;

      &.active  {
        border-bottom-color: var(--mobile-menu-accent-color);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: variables.$rhythm / 2;
        background-color: var(--menu-mobile-accent-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
      }
      &:hover::after {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }

    &.open {
      visibility: visible;

      .stack {
        margin: 0;
      }
    }
  }
}

.menu-mobile-button {
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  height: 48px;
  width: 48px;
  background-color: transparent;
  z-index: 2;

  &.open {
    visibility: hidden;
  }

}

.menu-mobile-button-close {
  cursor: pointer;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    text-align: center;
    bottom: variables.$rhythm * 4;
  }

  svg {
    fill: white;
  }
}

.menu-mobile-wrapper {
  position: absolute; 
  overflow: hidden;
  right: 16px;
  z-index: 1;

  &::after {
    content: '';
    opacity: 0.95;
    background-color: var(--menu-mobile-bg-color);
    border-radius: 50%;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}
