$black: #000;
$white: #fff;

// Blue
$blue-100: #a7d8f7;
$blue-200: #83c8f4;
$blue-300: #5fb7f1;
$blue-400: #3ba7ee;
$blue-500: #1797eb;
$blue-600: #138cdb;
$blue-700: #1075b7;
$blue-800: #0e69a5;
$blue-900: #0d5e93;

// Purple
$purple-100: #bb8cff;
$purple-200: #a465ff;
$purple-300: #8d3dff;
$purple-400: #7616ff;
$purple-500: #6200EE;
$purple-600: #5200c7;
$purple-700: #4200a0;
$purple-800: #320078;
$purple-900: #210051;

// Sea
$sea-100: #c4e7e7;
$sea-200: #a8dcdb;
$sea-300: #8cd1d0;
$sea-400: #70c5c4;
$sea-500: #54BAB9;
$sea-600: #48b2b1;
$sea-700: #3d9696;
$sea-800: #378888;
$sea-900: #317a7a;

// Tan
$tan-100: #fefdfb;
$tan-200: #f8f4ec;
$tan-300: #f3ebde;
$tan-400: #eee3cf;
$tan-500: #e9dac1;
$tan-600: #e4d1b3;
$tan-700: #dfc9a4;
$tan-800: #d4b787;
$tan-900: #caa66a;