$black: #000;
$white: #fff;
$off-white: #F9F9F9;

$independence-blue-100: #C3CFF0;
$independence-blue-200: #ADB9DA;
$independence-blue-300: #96A3C5;
$independence-blue-400: #808CAf;
$independence-blue-500: #6A7699;
$independence-blue-600: #536083;
$independence-blue-700: #3D4A6E;
$independence-blue-800: #263358;
$independence-blue-900: #101D42;


$lavender-100: #F8F7FD;
$lavender-200: #E3E0F7;
$lavender-300: #CFC8F1;
$lavender-400: #BAB1EB;
$lavender-500: #A699E6;
$lavender-600: #9182E0;
$lavender-700: #7C6ADA;
$lavender-800: #6853D4;
$lavender-900: #533BCE;
$lavender-1000: #150e37;

$iris-100: #F1F1FC;
$iris-200: #DADBF6;
$iris-300: #C4C4F1;
$iris-400: #ADAEEB;
$iris-500: #9797E6;
$iris-600: #8081E0;
$iris-700: #696ADA;
$iris-800: #5354D5;
$iris-900: #3C3DCF;

$midnight-blue-100: #3131C5;
$midnight-blue-200: #2C2CB2;
$midnight-blue-300: #28289F;
$midnight-blue-400: #23238C;
$midnight-blue-500: #1E1E79;
$midnight-blue-600: #191966;
$midnight-blue-700: #151553;
$midnight-blue-800: #101040;
$midnight-blue-900: #0B0B2D;

$midnight-100: #5c5c5c;
$midnight-200: #525252;
$midnight-300: #474747;
$midnight-400: #3d3d3d;
$midnight-500: #333333;
$midnight-600: #292929;
$midnight-700: #1f1f1f;
$midnight-800: #141414;
$midnight-900: #0a0a0a;

$florence-100: #7DCCBF;
$florence-200: #70C7B8;
$florence-300: #62C1B1;
$florence-400: #55BCAA;
$florence-500: #47B6A3;
$florence-600: #43AB9A;
$florence-700: #3FA190;
$florence-800: #3A9687;
$florence-900: #368B7D;

$paradise-100: #FAD1D8;
$paradise-200: #F8C0C9;
$paradise-300: #F6AEBA;
$paradise-400: #F49DAB;
$paradise-500: #F28B9C;
$paradise-600: #EF7A8D;
$paradise-700: #ED687E;
$paradise-800: #EB576F;
$paradise-900: #E94560;

