$black: #000;
$white: #fff;
$off-white: #F9F9F9;

$independence-blue-100: #C3CFF0;
$independence-blue-200: #ADB9DA;
$independence-blue-300: #96A3C5;
$independence-blue-400: #808CAf;
$independence-blue-500: #6A7699;
$independence-blue-600: #536083;
$independence-blue-700: #3D4A6E;
$independence-blue-800: #263358;
$independence-blue-900: #101D42;


$lavender-100: #F8F7FDff;
$lavender-200: #E3E0F7ff;
$lavender-300: #CFC8F1ff;
$lavender-400: #BAB1EBff;
$lavender-500: #A699E6ff;
$lavender-600: #9182E0ff;
$lavender-700: #7C6ADAff;
$lavender-800: #6853D4ff;
$lavender-900: #533BCEff;

$iris-100: #F1F1FCff;
$iris-200: #DADBF6ff;
$iris-300: #C4C4F1ff;
$iris-400: #ADAEEBff;
$iris-500: #9797E6ff;
$iris-600: #8081E0ff;
$iris-700: #696ADAff;
$iris-800: #5354D5ff;
$iris-900: #3C3DCFff;

$midnight-blue-100: #3131C5ff;
$midnight-blue-200: #2C2CB2ff;
$midnight-blue-300: #28289Fff;
$midnight-blue-400: #23238Cff;
$midnight-blue-500: #1E1E79ff;
$midnight-blue-600: #191966ff;
$midnight-blue-700: #151553ff;
$midnight-blue-800: #101040ff;
$midnight-blue-900: #0B0B2Dff;



$florence-100: #7DCCBF;
$florence-200: #70C7B8;
$florence-300: #62C1B1;
$florence-400: #55BCAA;
$florence-500: #47B6A3;
$florence-600: #43AB9A;
$florence-700: #3FA190;
$florence-800: #3A9687;
$florence-900: #368B7D;

$paradise-100: #FAD1D8ff;
$paradise-200: #F8C0C9ff;
$paradise-300: #F6AEBAff;
$paradise-400: #F49DABff;
$paradise-500: #F28B9Cff;
$paradise-600: #EF7A8Dff;
$paradise-700: #ED687Eff;
$paradise-800: #EB576Fff;
$paradise-900: #E94560ff;


$stone-100: #F6F4F1;
$stone-200: #ECE8E2;
$stone-300: #E3DDD3;
$stone-400: #D9D1C4;
$stone-500: #D0C5B6;
$stone-600: #C6B9A7;
$stone-700: #BCAE98;
$stone-800: #B3A289;
$stone-900: #A9967A;
