@use 'variables' as * ;

.theme {

  // App Primary Colors
  --app-accent-color: #{$AppAccentColor};
  --app-bg-color: #{$AppBgColor};
  --app-favicon-hover-color: #{$AppFaviconHoverColor};

  // App Text Color Theming
  --app-text-color: #{$AppTextColor};
  --app-text-color-secondary: #{$AppTextColorSecondary};
  --app-text-color-accent: #{$AppTextColorAccent};

  // App Link Color Theming
  --app-link-color: #{$AppLinkColor};


  // Button
  --button-text-button-color: #{$ButtonTextButtonColor};

  // Menu Theming
  --menu-mobile-accent-color: #{$MenuMobileAccentColor};
  --menu-mobile-bg-color: #{$MenuMobileBGColor};
  --menu-mobile-link-text-color: #{$MenuMobileLinkTextColor};
}