@use 'variables' as * ;

.theme {
  // App Text Color Theming
  --app-bg-color: #{$AppBgColor};
  --app-text-color: #{$AppTextColor};
  --app-text-color-secondary: #{$AppTextColorSecondary};
  --app-text-color-accent: #{$AppTextColorAccent};
}