@use 'variables' as * ;

.theme-dark {

  // App Primary Colors 
  --app-accent-color: #{$DarkAppAccentColor};
  --app-bg-color: #{$DarkAppBgColor};
  --app-favicon-hover-color: #{$DarkAppFaviconHoverColor};

  // App Text Color Theming
  --app-text-color: #{$DarkAppTextColor};
  --app-text-color-secondary: #{$DarkAppTextColorSecondary};
  --app-text-color-accent: #{$DarkAppTextColorAccent};

  // App Link Color Theming
  --app-link-color: #{$DarkAppLinkColor};

  // Button
  --button-text-button-color: #{$DarkButtonTextButtonColor};

  // Menu Theming
  --menu-mobile-accent-color: #{$DarkMenuMobileAccentColor};
  --menu-mobile-bg-color: #{$DarkMenuMobileBGColor};
  --menu-mobile-link-text-color: #{$DarkMenuMobileLinkTextColor};

  // SVG & Icons
  --svg-construction-box-color: #{$DarkSvgConstructionBoxColor};
}