@use 'variables' as * ;

.theme {

  // App Primary Colors
  --app-accent-color: #{$AppAccentColor};
  --app-bg-color: #{$AppBgColor};
  --app-bg-color-secondary: #{$AppBgColorSecondary};
  --app-favicon-hover-color: #{$AppFaviconHoverColor};

  // App Text Color Theming
  --app-text-color: #{$AppTextColor};
  --app-text-color-secondary: #{$AppTextColorSecondary};
  --app-text-color-accent: #{$AppTextColorAccent};
  --app-text-color-accent-secondary: #{$AppTextColorAccentSecondary};

  // App Link Color Theming
  --app-link-color: #{$AppLinkColor};


  // Button
  --button-text-button-color: #{$ButtonTextButtonColor};


  // Feature Theming
  --feature-card-bg-color: #{$FeatureCardBGColor};

  // Menu Theming
  --menu-mobile-accent-color: #{$MenuMobileAccentColor};
  --menu-mobile-bg-color: #{$MenuMobileBGColor};
  --menu-mobile-link-text-color: #{$MenuMobileLinkTextColor};

  // SVG & Icons
  --svg-construction-box-color: #{$SvgConstructionBoxColor};
}