@use 'variables' as * ;

.theme-dark {
  // App Text Color Theming
  --app-bg-color: #{$DarkAppBgColor};
  --app-text-color: #{$DarkAppTextColor};
  --app-text-color-secondary: #{$DarkAppTextColorSecondary};
  --app-text-color-accent: #{$DarkAppTextColorAccent};

}