// Font Sizes
$font-size-100: 12px;
$font-size-200: 16px;
$font-size-300: 24px;
$font-size-400: 32px;
$font-size-500: 48px;
$font-size-600: 64px;
$font-size-700: 80px;
$font-size-800: 96px;
$font-size-900: 112px;