@use './colors' as *;
// Spacing
$rhythm: 8px;

// Regular Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$AppBgColor: $off-white;
$AppAccentColor: $florence-500;

// App Text
$AppTextColor: $independence-blue-900;
$AppTextColorAccent: $AppAccentColor;
$AppTextColorSecondary: $independence-blue-700;

// Links
$AppLinkColor: $independence-blue-900;
$AppLinkBorderColor: $florence-500;

// Dark Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$DarkAppBgColor: $purple-navy-900;
$DarkAppAccentColor: $paradise-600;

// Dark App
$DarkAppTextColor: $independence-blue-100;
$DarkAppTextColorAccent: $DarkAppAccentColor;
$DarkAppTextColorSecondary: $independence-blue-400;


// Dark Links
$DarkAppLinkColor: $independence-blue-100;
$DarkAppLinkBorderColor: $florence-100;