@use './colors' as *;
// Spacing
$rhythm: 8px;

// Regular Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$AppBgColor: $lavender-100;
$AppAccentColor: $iris-900;
$AppFaviconHoverColor: $midnight-blue-200;

// App Text
$AppTextColor: $independence-blue-900;
$AppTextColorAccent: $AppAccentColor;
$AppTextColorSecondary: $independence-blue-700;

// Links
$AppLinkColor: $independence-blue-900;
$AppLinkBorderColor: $florence-500;

// Menu
$MenuMobileAccentColor: $white; 
$MenuMobileBGColor: $AppAccentColor;
$MenuMobileLinkTextColor: $white;

// Dark Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$DarkAppBgColor: $black;
$DarkAppAccentColor: $lavender-600;
$DarkAppFaviconHoverColor: $lavender-500;

// Dark App
$DarkAppTextColor: $independence-blue-100;
$DarkAppTextColorAccent: $DarkAppAccentColor;
$DarkAppTextColorSecondary: $independence-blue-400;


// Dark Links
$DarkAppLinkColor: $independence-blue-100;
$DarkAppLinkBorderColor: $florence-100;

// Dark Menu
$DarkMenuMobileAccentColor: $white; 
$DarkMenuMobileBGColor: $DarkAppAccentColor;
$DarkMenuMobileLinkTextColor: $white;