@use './colors' as *;
// Spacing
$rhythm: 8px;

// Media and Screen
$large: 768px;


// Regular Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$AppBgColor: $lavender-100;
$AppBgColorSecondary: $lavender-200;
$AppAccentColor: $iris-900;
$AppFaviconHoverColor: $midnight-blue-200;

// App Text
$AppTextColor: $independence-blue-900;
$AppTextColorAccent: $AppAccentColor;
$AppTextColorAccentSecondary: $AppAccentColor;
$AppTextColorSecondary: $independence-blue-700;

// Button 
$ButtonTextButtonColor: $AppTextColor;

// Links
$AppLinkColor: $independence-blue-900;

// Menu
$MenuMobileAccentColor: $white; 
$MenuMobileBGColor: $AppAccentColor;
$MenuMobileLinkTextColor: $white;

// SVG & Icons
$SvgConstructionBoxColor: $lavender-200;

// Dark Theme ------------ ------------ ------------ ------------ ------------ ------------ ------------

// App Common
$DarkAppBgColor: $black;
$DarkAppBgColorSecondary: $lavender-600;
$DarkAppAccentColor: $lavender-600;
$DarkAppFaviconHoverColor: $lavender-500;

// Dark App
$DarkAppTextColor: $iris-100;
$DarkAppTextColorAccent: $DarkAppAccentColor;
$DarkAppTextColorAccentSecondary: $lavender-100;
$DarkAppTextColorSecondary: $iris-200;


// Button 
$DarkButtonTextButtonColor: $white;


// Dark Links
$DarkAppLinkColor: $DarkAppTextColor;

// Dark Menu
$DarkMenuMobileAccentColor: $white; 
$DarkMenuMobileBGColor: $DarkAppAccentColor;
$DarkMenuMobileLinkTextColor: $white;


// SVG & Icons
$DarkSvgConstructionBoxColor: $lavender-500;