@use 'assets' as *;

.App {
  color: var(--app-text-color);
  height: 100%;
  background-color: var(--app-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.theme-button {
  background-color: unset;
  border: none;
  font-size:x-large;
  margin-top: $rhythm * 2;
}

.change-language-btn {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  padding: $rhythm;
  border-radius: $rhythm / 2;
  font-size: 16px;
  font-weight: bold;

  &:hover, &:focus {
    background-color: var(--button-bg-color-hover);
    transition: background-color 300ms ease-in-out;
    transition: border 300ms ease-in;
  }
}
