@use 'assets' as *;

.App {
  color: var(--app-text-color);
  height: 100%;
  background-color: var(--app-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 $rhythm * 2;
}

// Font Sizes
.font-size-100 {
  font-size: $font-size-100;
}

.font-size-200 {
  font-size: $font-size-200;
}

.font-size-300 {
  font-size: $font-size-300;
}

.font-size-400 {
  font-size: $font-size-400;
}

.font-size-500 {
  font-size: $font-size-500;
}

.font-size-600 {
  font-size: $font-size-600;
}

.font-size-700 {
  font-size: $font-size-700;
}

.font-size-800 {
  font-size: $font-size-800;
}

.font-size-900 {
  font-size: $font-size-900;
}